<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								
								<%= form_for @post, url: {action: "update"}, html: {class: "nifty_form"} do %>
									<div class="field">
										<label name="post[title]">Title</label>
										<input type="text" name="post[title]" value="<%= @post.title %>" />
									</div>

									<div class="field">
										<label name="post[featured]">Featured</label>
										<select name="post[featured]">
											<% if @post.featured %>
												<option value="1" selected>True</option>
												<option value="0">False</option>
											<% else %>
												<option value="1">True</option>
												<option value="0" selected>False</option>
											<% end %>
										</select>
									</div>

									<div class="field">
										<label name="post[img_url]">Image URL</label>
										<input type="text" name="post[img_url]" value="<%= @post.img_url %>" />
									</div>

									<div class="field">
										<label name="post[slug]">Slug</label>
										<input type="text" name="post[slug]" value="<%= @post.slug %>" />
									</div>

									<div class="field">
										<label name="post[content]">Content</label>
										<textarea name="post[content]"><%= @post.content %></textarea>
									</div>

									<div class="field">
										<button type="submit">Save</button>
									</div>
									
									
								<% end %>
							</section>

					</div>
